@charset "UTF-8";

@use 'functions' as functions;

.contact-page {
    width: 100%;
    font-family: 'Raleway', sans-serif;

    &::after {
        content: "";
        position: fixed;
        /*固定表示*/
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        background-color: rgba($color: #FFFFFF, $alpha: 1);
        animation: min-anim 2s forwards;
        transform-origin: left;
    }

    /*背景が縮むアニメーション*/
    @keyframes min-anim {
        0% {
            transform: scaleX(1);
        }

        80% {
            transform: scaleX(1);
            background-color: rgba($color: #FFFFFF, $alpha: .8);
        }

        100% {
            transform: scaleX(0);
            visibility: hidden;
        }
    }

    .contact-form {
        width: 100%;
        padding-top: 200px;
        margin-bottom: 120px;

        @include functions.respond-to(tb) {
            width: 100%;
            margin-left: 0;
        }

        .contact-wrap {
            width: 80%;
            max-width: 900px;
            margin: 0 auto;
            @include functions.respond-to(sp) {
                width: 90%;
                padding: 40px 0 10px 0;
            }
        }

        &__title {
            font-size: 60px;
            @include functions.raleway;
            font-weight: normal;
            letter-spacing: .3rem;
            width: 80%;
            margin: 0 auto 60px auto;
            text-align: center;

            @include functions.respond-to(sp) {
                font-size: 24px;
                margin-bottom: 20px;
            }
        }

        &__text {
            width: 70%;
            margin: 0 auto;
            font-size: 15px;
            letter-spacing: 1.4px;
            line-height: 1.5;
            margin-bottom: 40px;
            @include functions.notosans;
        }

        .wpcf7 {
            width: 70%;
            margin: 0 auto;

            @include functions.respond-to(sp) {
                width: 90%;
            }

            p {
                margin-bottom: 40px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            label {
                @include functions.notosans;
                font-size: 16px;
                letter-spacing: 1px;
                color: #333333;
                font-weight: normal;
                margin-bottom: 20px;

                @include functions.respond-to(sp) {
                    font-size: 14px;
                }
            }

            input {
                width: 100%;
                background-color: #F5F5F5;
                padding: 16px 20px;
                box-sizing: border-box;
            }

            input[ type=text] {
                font-size: 16px;
                letter-spacing: 1px;
                @include functions.notosans;
                color: #1A1919;
                font-weight: 500;

                @include functions.respond-to(sp) {
                    font-size: 14px;
                }
            }

            input[ type=email] {
                font-size: 16px;
                letter-spacing: 1px;
                @include functions.notosans;
                color: #1A1919;
                font-weight: 500;

                @include functions.respond-to(sp) {
                    font-size: 14px;
                }
            }

            textarea {
                width: 100%;
                background-color: #F5F5F5;
                padding: 16px 20px;
                @include functions.notosans;
                font-size: 16px;
                letter-spacing: 1px;
                box-sizing: border-box;

                @include functions.respond-to(sp) {
                    font-size: 14px;
                }
            }

            .wpcf7-form-control-wrap {
                display: block;
                margin-top: 12px;
            }

            .wpcf7-not-valid-tip {
                margin-top: 10px;
                @include functions.notosans;
                font-size: 14px;
                letter-spacing: 1px;
                color: #FF3E0E;
                font-weight: bold;

                @include functions.respond-to(sp) {
                    font-size: 10px;
                }
            }

            .wpcf7-submit {
                @include functions.notosans;
                display: block;
                width: 300px;
                margin: 0 auto;
                background-color: #3d5ac0;
                background-color: #1A1919;
                color: #FFFFFF;
                font-weight: bold;
                font-size: 16px;
                letter-spacing: 1px;
                transition: .3s;

                @include functions.respond-to(sp) {
                    font-size: 14px;
                    width: 270px;
                }

                &:hover {
                    cursor: pointer;
                    transition: .3s;
                    background-color: #1A1919;
                }
            }

            .wpcf7-response-output {
                border: none;
                @include functions.notosans;
                color: #FF3E0E;
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 1.6px;
                text-align: center;
            }

            .button-mask {
                filter: brightness(0.3);
                transition: .5s ease-in-out;
            }

            .redtext {
                @include functions.notosans;
                font-size: 12px;
                margin-left: 6px;
                padding: 0 4px;
                color: #FF3E0E;
                font-weight: normal;
            }

            .wpcf7-list-item-label {
                font-weight: normal;
                font-size: 14px;
            }

            .policy {
                width: auto;
                border: 1px solid #1A1919;
                padding: 8px 8px 6px 8px;
                cursor: pointer;
                margin: 0 20px 0 0;

            }
        }

    }
}