@charset "UTF-8";

@use 'functions' as functions;

html {
    height: 100%;
    font-size: 62.5%;
}

.frontbody {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    background-color: #FFFFFF;

    @include functions.respond-to(tb) {
        overflow: auto;
    }

    

    .mv {
        width: 100%;
        padding-top: 180px;
        height: 100vh;

        .mv-inner {
            width: 90%;
            margin: 0 auto;
            height: 100%;
            position: relative;
        }

        .mv-img {
            width: 80%;
            height: 75%;
            margin: 0 auto;

            @include functions.respond-to(sp) {
                width: 100%;
                height: 70%;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        .mv-list {
            position: absolute;
            right: 0;
            top: 85%;
            display: flex;
            align-items: center;
        }
            
        &__title {
            @include functions.notosans;
            font-size: 200px;
            white-space: nowrap;
            color: #EBEBEB;
            letter-spacing: 3px;
            position: absolute;
            top: 50%;
            animation: transformtext linear infinite;
            animation-duration: 20s;

            @include functions.respond-to(sp) {
                display: none;
            }

            @keyframes transformtext {
                0% {
                    transform: translateX(100%);
                }
                100% {
                    transform: translateX(-180%);
                }
            }
        }

        .mv-item {
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
        }

        .mv-link {
            font-size: 1.8rem;
            letter-spacing: .1rem;
            color: #1A1919;
            text-decoration: underline;

            @include functions.respond-to(sp) {
                font-size: 1.2rem;
            }
        }


        .copyright {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 1.4rem;
            letter-spacing: .1rem;
            padding: 10px 0;

            @include functions.respond-to(sp) {
                font-size: 1rem;
            }
        }
    }


    

}

.header {
    width: 100%;
    padding: 40px 0;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 999;

    .header-inner {
        padding: 0 80px 0 60px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        @include functions.respond-to(sp) {
            padding: 0 20px;
        }
    }

    &__title {

        &--logo {
            @include functions.raleway;
            font-size: 1.8rem;
            font-weight: normal;
            letter-spacing: 0px;
            color: #1A1919;
            display: block;
            margin-bottom: 16px;

            @include functions.respond-to(sp) {
                font-size: 1.2rem;
                margin-bottom: 12px;
            }
        }

        .click-profile {
            text-decoration: underline;
            color: #1A1919;
        }
    }




    .humburger {
        display: none;

        @include functions.respond-to(tb) {
            display: block;
            position: relative;
            z-index: 999;
            width: 30px;
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

        &:hover {
            cursor: pointer;
        }

        .line {
            width: 100%;
            height: 2px;
            display: block;
            background-color: #1A1919;
        }

        .line1-act {
            background-color: #FFFFFF;
        }

        .line2-act {
            background-color: #FFFFFF;
        }

        .line3 {
            width: 80%;
        }

        .line3-act {
            background-color: #FFFFFF;
        }


        }
    }

    .grnav {


        @include functions.respond-to(tb) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba($color: #1A1919, $alpha: 0.8);
            visibility: hidden;
            display: grid;
            place-items: center;
        }

        .header-list {
            display: flex;
            align-items: center;

            @include functions.respond-to(tb) {
                flex-direction: column;
                justify-content: center;
            }

            &__item {
                margin-right: 20px;
                list-style: none;

                @include functions.respond-to(tb) {
                    margin-right: 0;
                    margin-bottom: 40px;
                }

                &:last-child {
                    margin-right: 0;

                    @include functions.respond-to(tb) {
                        margin-bottom: 0;
                    }
                }
            }

            &__link {
                text-decoration: none;
                color: #1A1919;
                position: relative;
                font-size: 1.6rem;
                letter-spacing: .1rem;

                @include functions.respond-to(tb) {
                    font-size: 2rem;
                    color: #FFFFFF;
                }

                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1.5px;
                    background-color: #1A1919;
                    position: absolute;
                    top: 30px;
                    opacity: 0;
                    transform: scaleX(0);
                    transform-origin: left top;
                    transition: .3s ease-in-out;
                }

                &:hover::after {
                    opacity: 1;
                    transform: scaleX(1);
                    transition: .3s ease-in-out;
                }
            }
        }
    }

    .menu-act {
        visibility: visible;
        transition: .5s ease-in-out;
    }
}

.contact {
    width: 100%;
    margin-bottom: 180px;

    @include functions.respond-to(tb) {

        @include functions.respond-to(sp) {
            margin-bottom: 80px;
        }
    }

    .contact-inner {
        display: block;
        width: 100%;
        margin: 0 auto;
        background-color: #F5F5F5;

        @include functions.respond-to(sp) {
            padding: 80px 0;
            width: 100%;
        }
    }

    &__title {
        @include functions.notosans;
        font-size: 70px;
        letter-spacing: 5px;
        font-weight: bold;
        color: #1A1919;
        padding: 180px 0 160px 120px;
        position: relative;

        &::after {
            content: "";
            display: block;
            width: 50%;
            height: 2px;
            background-color: #1A1919;
            position: absolute;
            bottom: 100px;
            transform: scaleX(0);
            transform-origin: left top;
            transition: .3s ease-in-out;
        }

        &:hover::after {
            transform: scaleX(1);
            transition: .3s ease-in-out;
        }

        &--sub {
            display: block;
            font-size: 30px;
            letter-spacing: 3px;
            font-weight: 500;
            margin-top: 20px;
            color: #1A1919;

            @include functions.respond-to(sp) {
                font-size: 14px;
                letter-spacing: 1px;
                margin-top: 12px;
                text-align: center;
            }
        }

        @include functions.respond-to(sp) {
            font-size: 30px;
            letter-spacing: 3px;
            padding: 0;
            text-align: center;
        }
    }

    &__text {
        color: #1A1919;
        font-size: 1.6rem;
        letter-spacing: .1rem;
        line-height: 2;
        text-align: center;
        @include functions.notosans;
        margin-bottom: 40px;

        @include functions.respond-to(tb) {
            font-size: 14px;
        }
    }

    .btn {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 270px;
        padding: 20px 0;
        background-color: #FFFFFF;
        border: 1px solid #1A1919;
        color: #1A1919;
        @include functions.notosans;
        font-weight: 500;
        font-size: 1.6rem;
        letter-spacing: .1rem;

    }
}

.footer {
   width: 100%;
    box-sizing: border-box;
    background-color: #1A1919;

    .scroll-box {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: fixed;
        bottom: 50px;
        right: 20px;

        .scrolltext {
            @include functions.notosans;
            color: #1A1919;
        }
    }

    .footer-inner {
        width: 80%;
        margin: 0 auto;
        padding: 80px 80px 20px 80px;

        @include functions.respond-to(tb) {
            width: 90%;
            padding: 60px 20px;
        }
    }

    .footer-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;

        &__link {
            @include functions.notosans;
            font-weight: 500;
            letter-spacing: .1rem;
            color: #FFFFFF;
            font-size: 1.6rem;
            position: relative;

            @include functions.respond-to(tb) {
                font-size: 1.4rem;
            }

            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 1.5px;
                background-color: #FFFFFF;
                position: absolute;
                top: 30px;
                opacity: 0;
                transform: scaleX(0);
                transform-origin: left top;
                transition: .3s ease-in-out;
            }

            &:hover::after {
                opacity: 1;
                transform: scaleX(1);
                transition: .3s ease-in-out;
            }
        }
    }

    .footer-follow {
        border: none;
    }

    .copyright {
        color: #FFFFFF;
        font-size: 10px;
        letter-spacing: 1px;
        text-align: center;
        padding: 10px 0 80px 0;
    }
}
