@charset "UTF-8";

@use 'functions' as functions;

.works {
    font-family: 'Raleway', sans-serif;

    &::after {
        content: "";
        position: fixed;
        /*固定表示*/
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 900;
        /*他のスタッキングコンテキストとかち合った時用*/
        background-color: rgba($color: #1A1919, $alpha: 1);
        /*シャッターの色*/
        animation: min-anim 3s forwards;
        /*アニメーション付与*/
        transform-origin: left;
        /*変化の起点*/
    }

    /*背景が縮むアニメーション*/
    @keyframes min-anim {
        0% {
            transform: scaleX(1);
            /*画面全体を覆う*/
        }

        20% {
            transform: scaleX(1);
        }

        50% {
            transform: scaleX(1);
        }

        80% {
            transform: scaleX(1);
        }

        100% {
            transform-origin: right;
            transform: scaleX(0);
            /*高さ0*/
            visibility: hidden;
            /*非表示*/

        }
    }

    .open-anime {
        animation: open-anim 2.5s forwards;
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFFFFF;
        @include functions.notosans;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1.8px;

        @include functions.respond-to(tb) {
            font-size: 24px;
        }

        @keyframes open-anim {
            0% {
                visibility: visible;
            }

            90% {
                visibility: hidden;
            }

            100% {
                visibility: hidden;
            }
        }
    }

    .sub-works {
        width: 100%;
        padding-top: 200px;
        margin-bottom: 160px;

        @include functions.respond-to(tb) {
            width: 100%;
            margin-bottom: 80px;
        }

        .sub-works-inner {
            width: 80%;
            margin: 0 auto;
            max-width: 900px;

            @include functions.respond-to(sp) {
                width: 90%;
            }
        }

        &__title {
            font-size: 40px;
            @include functions.raleway;
            font-weight: normal;
            letter-spacing: 3px;
            margin-bottom: 80px;
            text-align: center;

            @include functions.respond-to(sp) {
                font-size: 24px;
                margin-bottom: 20px;
                letter-spacing: 2px;
            }
        }

        .sub-works-menu {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 50px;
        }

        .works-wrap {
            width: 45%;

            @include functions.respond-to(sp) {
                width: 100%;
            }
        }

        .works-item {
            width: 100%;
            position: relative;

            .mask {
                width: 0;
                height: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                background-color: rgba($color: #000000, $alpha: 0.9);
                visibility: hidden;
                transition: .2s ease-in;
            }

            &__link {
                display: block;
                font-size: 18px;
                letter-spacing: .2rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #FFFFFF;
                z-index: 100;
                visibility: hidden;
                transition: .1s ease-in-out;

                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1.5px;
                    background-color: #FFFFFF;
                    position: absolute;
                    top: 30px;
                    opacity: 0;
                    transform: scaleX(0);
                    transform-origin: left top;
                    transition: .3s ease-in-out;
                }

                &:hover::after {
                    opacity: 1;
                    transform: scaleX(1);
                    transition: .3s ease-in-out;
                }
            }

            &__title {
                font-size: 20px;
                letter-spacing: 2px;
                color: #1A1919;
                margin-top: 24px;
            }

            &:hover::after {
                width: 100%;
                height: 100%;
                visibility: visible;
            }
        }

        .wp-post-image {
            width: 100%;
            height: auto;
        }

    }
}